@import "colors.css";
@charset "UTF-8";

* {
    margin:  0;
    border:  0;
    padding: 0;
    outline: 0;

    list-style:      none;
    text-decoration: none;
    text-rendering:  optimizeLegibility;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-font-smoothing: subpixel-antialiased;
       -moz-font-smoothing: subpixel-antialiased;
        -ms-font-smoothing: subpixel-antialiased;
         -o-font-smoothing: subpixel-antialiased;

    -webkit-user-select: none;
      -webkit-user-drag: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

:root {
    --accent: var(--color5);
    --bg: var(--background);
    --bg2: #232323;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--bg);
    height: 100%;
    width: 100%;
}

::selection {
    background: none;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 100%;
}

#panels {
    border-radius: 5px 0 0 5px;
    width: 700px;
    height: 350px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    background: var(--bg2);
}

#panels ul {
    --flavour: var(--accent);
    width: 100%;
    height: 100%;
    background: url("../img/1457907893941.png");
    background-size: 275px;
    background-position: left;
    background-repeat: no-repeat;
}

#panels ul .links {
    box-shadow: inset -1px 0 var(--flavour);
}

#panels ul[active] {
    right: 0;
    z-index: 1;
}

#panels .links {
    right: 0;
    width: 70%;
    height: 100%;
    background: var(--bg2);
    padding: 5%;
    float: right;
}

#panels > ul:first-child .links a {
    color: var(--foreground);
    text-decoration: none;
    font: 500 14px 'Roboto', sans-serif;
    transition: all .2s;
    display: inline-block;
    padding: .4em .7em;
    border-radius: 2px;
    margin-bottom: .7em;
}

#panels > ul:first-child .links a:not(:last-child) { margin-right: .3em }

#panels > ul:first-child .links a:hover {
    transform: scale(1.1);
    color: #fff;
}

#panels > ul:first-child .links li:not(:last-child) {
    box-shadow: 0 1px 0 rgba(255, 255, 255, .07);
    padding: 0 0 .5em 0;
    margin-bottom: 1.5em;
}

#panels > ul .links li h1 {
    color: var(--color1);
    font-size: 20px;
    margin-bottom: .5em;
    font-weight: 600;
    letter-spacing: 1px;
}

#tabs {
    width: 600px;
    height: 30px;
    background: var(--bg2);
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .25);
    display: flex;
    justify-content: space-between;
    margin: 2em auto;
    color: var(--foreground);
    font-size: 12px;
    font-weight: 500;
}

#tabs .date {
    margin-left: 2em;
}

#tabs .time {
    margin-right: 2em;
}

#tabs .weather p[temperature] {
    margin: 0 0.5em 0 0.5em;
    color: var(--foreground);
}

#tabs span {
    color: var(--color5);
}

#tabs i {
    margin-top: 0.3em;
    font-size: 16px !important;
    font-weight: 500;
}

#tabs i[sunny] { color: var(--color1); }

#tabs i[cloudy] { color: var(--color1); }

#search {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    top: -100%;
    transition: all .3s ease-in-out;
}

#search.active {
    top: 0;
    opacity: 1;
    visibility: visible;
}

#search div {
    position: relative;
    width: 60%;
}

#search input {
    border: 0;
    outline: 0;
    width: 100%;
    box-shadow: inset 0 -2px #737373;
    padding: .5em 0;
    background: none;
    font: 500 22px 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: var(--foreground);
}

#search input:focus {
    box-shadow: inset 0 -2px var(--foreground);
}

#search input::selection {
    background: #000;
    color: #fff;
}

#search .close {
    background: 0;
    border: 0;
    outline: 0;
    color: #fff;
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 15px;
    filter: opacity(.5)
}

#search .close:hover {
    filter: opacity(1);
}

.search-engines {
    list-style: none;
    color: var(--foreground);
    display: block;
    display: flex;
    top: 50px;
    left: 0;
    margin: 1em 0 0 0;
}

.search-engines li p {
    cursor: default;
    transition: all .2s;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.search-engines li {
    margin: 0 1em 0 0;
}

.search-engines li.active {
    color: #fff;
    font-weight: 700;
}
